Repository a3fckx/astra: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-agents-to-claude, run-tests

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: sync-agents-to-claude
        name: Sync AGENTS.md to Claude.md
        entry: bash -c 'cp AGENTS.md Claude.md'
        language: system
        files: ^AGENTS\.md$
        pass_filenames: false
      - id: run-tests
        name: Run Tests with Bun
        entry: bash -c 'cd app && bun test --timeout=1000 tests/unit/env.test.ts'
        language: system
        files: ^(app/src/|app/tests/).*\.(ts|tsx)$
        pass_filenames: false
      # - id: lint-and-type-check
#         name: Lint and Type Check with Biome
#         entry: bash -c 'cd app && bun run lint && bun run type-check'
#         language: system
#         files: ^(app/src/|app/tests/).*\.(ts|tsx)$
#         pass_filenames: false

docs: add comprehensive business documentation to MongoDB test suite
  app/tests/README.md
  app/tests/setup.ts
  app/tests/unit/env-documentation.test.ts
  app/tests/utils/mongodb-test-utils.ts
Due: run-tests

feat(responder): align chat surface with ChatKit workflows
  AGENTS.md
  app/scripts/responder-worker.ts
  app/src/app/api/responder/messages/route.ts
  app/src/components/responder-console.tsx
  app/src/pages/api/responder/socket.ts
  app/tests/unit/responder/handshake.test.ts
Due: sync-agents-to-claude, run-tests

refactor: remove old ChatKit-based responder console UI
  app/src/app/dashboard/page.tsx
  app/src/components/error-overlay.tsx
  app/src/components/responder-console.module.css
  app/src/components/responder-console.tsx
Due: run-tests

refactor: remove old responder worker and ChatKit infrastructure
  app/scripts/responder-worker.ts
  app/src/app/api/responder/messages/route.ts
  app/src/lib/chatkit-config.ts
  app/src/lib/websocket-utils.ts
  app/src/pages/api/responder/socket.ts
Due: run-tests

feat: add ElevenLabs voice interface with React SDK
  app/src/app/api/elevenlabs/signed-url/route.ts
  app/src/components/voice-session.tsx
  app/src/lib/elevenlabs.ts
Due: run-tests

refactor: simplify MongoDB schema and session management
  app/src/app/api/responder/session/route.ts
  app/src/lib/julep-docs.ts
  app/src/lib/mongo.ts
Due: run-tests

chore: remove unused dependencies
  app/bun.lock
  app/package.json
Due: none

docs: clean up and update documentation
  AGENTS.md
  IMPLEMENTATION_COMPLETE.md
  IMPLEMENTATION_STATUS.md
  NEXT_STEPS.md
  claude.json
  docs/AGENT_MANAGEMENT.md
  docs/COMPONENTS.md
  docs/IMPLEMENTATION_SUMMARY.md
  docs/JULEP_IMPLEMENTATION.md
  docs/MEMORY_BUFFER.md
  docs/MIGRATION.md
  docs/MODEL_CONFIGURATION.md
  docs/README.md
  docs/RUNNING_THE_APP.md
  docs/SHARED_MEMORY_ARCHITECTURE.md
  docs/WORKFLOWS.md
Due: sync-agents-to-claude

feat: add integration token management and configuration
  agents/definitions/astra.yaml
  agents/definitions/background-worker.yaml
  app/.env.example
  app/src/app/api/integrations/tokens/route.ts
  app/src/app/page.tsx
  app/src/components/auth-buttons.tsx
  app/src/lib/auth.ts
  app/src/lib/env.ts
  app/src/lib/integration-tokens.ts
  app/src/lib/logger.ts
  mcp-servers.json
Due: run-tests

security: remove .claude/ from git and add to .gitignore
  .gitignore
Due: none

docs: add CodeRabbit PR review badge to README
  README.md
Due: none

fix(auth): align better auth router base
  app/src/lib/auth.ts
Due: run-tests

feat(voice): require explicit mic consent before session
  app/src/components/voice-session.tsx
Due: run-tests

fix(voice): reject memory tool when token missing
  app/src/components/voice-session.tsx
Due: run-tests

feat(integrations): add CLI to seed memory tokens
  app/package.json
  app/scripts/set-memory-token.ts
Due: none

docs: document manual memory token seeding
  AGENTS.md
Due: sync-agents-to-claude

fix(voice): keep session alive across effect reruns
  app/src/components/voice-session.tsx
Due: run-tests

feat: inject responder prompt and profile context into voice session
  app/src/app/api/responder/session/route.ts
  app/src/components/voice-session.tsx
  app/src/lib/julep-docs.ts
  app/src/lib/prompt-loader.ts
  docs/react-sdk.mdx
  docs/responder.md
Due: run-tests

fix: resolve responder prompt path for Next runtime
  app/src/lib/prompt-loader.ts
Due: run-tests

chore: move responder docs alongside Next app
  app/docs/react-sdk.mdx
  app/docs/responder.md
  app/src/app/api/responder/session/route.ts
  app/src/components/voice-session.tsx
Due: run-tests

chore: restore react sdk doc location
  docs/react-sdk.mdx
Due: none

chore: update pre-commit hooks to run all tests and linting
  .pre-commit-config.yaml
  app/tests/unit/env.test.ts
Due: run-tests

test: update MongoDB tests to match refactored schema
  app/tests/integration/mongo.test.ts
  app/tests/unit/mongo-connection.test.ts
  app/tests/utils/mongodb-test-utils.ts
Due: run-tests

fix: load environment variables in test scripts
  app/package.json
Due: none

feat: persist elevenlabs conversations and refresh prompt
  app/docs/responder.md
  app/src/app/api/responder/conversations/route.ts
  app/src/components/voice-session.tsx
  app/src/lib/mongo.ts
Due: run-tests

feat: make ELEVENLABS_AGENT_ID required, remove default fallback
  app/src/lib/env.ts
Due: run-tests

temp: disable prompt override to fix WebSocket errors
  app/src/components/voice-session.tsx
Due: run-tests

Revert "temp: disable prompt override to fix WebSocket errors"
  app/src/components/voice-session.tsx
Due: run-tests

temp: disable contextual update to test WebSocket errors
  app/src/components/voice-session.tsx
Due: run-tests

diff --git a/app/src/lib/env.ts b/app/src/lib/env.ts index 18ca2e8..ff40e58 100644 --- a/app/src/lib/env.ts +++ b/app/src/lib/env.ts @@ -2,6 +2,8 @@ import { logger } from "@/lib/logger";
  app/src/lib/env.ts
Due: run-tests

refactor: elevenlabs voice agent
  AGENTS.md
  app/src/app/api/responder/session/route.ts
  app/src/components/voice-session.tsx
  app/src/components/voice-session/README.md
  app/src/components/voice-session/VoiceSessionUI.tsx
  app/src/components/voice-session/constants.ts
  app/src/components/voice-session/index.tsx
  app/src/components/voice-session/types.ts
  app/src/components/voice-session/useMicrophoneAccess.ts
  app/src/components/voice-session/useSessionHandshake.ts
  app/src/components/voice-session/useVoiceConnection.ts
  app/src/components/voice-session/utils.ts
  docs/VOICE_SESSION_REFACTOR.md
  docs/julep.md
Due: sync-agents-to-claude, run-tests

fix(voice): remove contextual updates and MCP handlers causing WebSocket errors
  app/src/components/voice-session/useVoiceConnection.ts
Due: run-tests

test(voice): add comprehensive test suite for voice session functionality
  app/bun.lock
  app/package.json
  app/tests/integration/voice-session-handshake.test.ts
  app/tests/unit/voice-session/useVoiceConnection.test.ts
  app/tests/utils/mocks/voice-session.mock.ts
Due: run-tests

refactor(tests): reorganize test directory with domain-first structure
  app/tests/README.md
  app/tests/__mocks__/elevenlabs.mock.ts
  app/tests/__mocks__/index.ts
  app/tests/helpers/index.ts
  app/tests/helpers/mongodb.ts
  app/tests/integration/database/mongo.test.ts
  app/tests/integration/mongo.test.ts
  app/tests/integration/voice-session/handshake.test.ts
  app/tests/unit/database/mongo-connection.test.ts
  app/tests/unit/env/env-documentation.test.ts
  app/tests/unit/env/env.test.ts
  app/tests/unit/mongo-connection.test.ts
Due: run-tests

docs: consolidate and update documentation for corrected architecture
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  agents/README.md
  agents/definitions/astra.yaml
  agents/definitions/background-worker.yaml
  agents/responder/prompt.md
  agents/tasks/chart-calculator.yaml
  agents/tasks/gamification-tracker.yaml
  agents/tasks/transcript-processor.yaml
  agents/tasks/weekly-report-generator.yaml
  app/bun.lock
  app/docs/responder.md
  app/package.json
  app/src/app/api/tasks/transcript/route.ts
  app/src/lib/env.ts
  app/tests/README.md
  docs/ARCHITECTURE.md
  docs/FAQ.md
  docs/IMPLEMENTATION_CHECKLIST.md
  docs/PERSONA.md
  docs/RUN.md
  docs/SHARED_MEMORY_ARCHITECTURE.md
  docs/VOICE_SESSION_REFACTOR.md
Due: sync-agents-to-claude, run-tests

fix: resolve Biome lint errors and TypeScript diagnostics
  app/src/app/api/tasks/transcript/route.ts
  app/src/components/voice-session/useVoiceConnection.ts
  app/src/lib/env.ts
Due: run-tests

feat: implement Phase 3-4 utilities and refactor transcript processing
  app/bun.lock
  app/package.json
  app/scripts/setup-background-worker.ts
  app/src/app/api/tasks/transcript/route.ts
  app/src/lib/elevenlabs-api.ts
  app/src/lib/julep-client.ts
  app/src/lib/tasks/loader.ts
Due: run-tests

feat: add background worker agent definition and integrate with sync:agents
  agents/definitions/background-worker.yaml
  app/package.json
  app/scripts/setup-background-worker.ts
  app/scripts/sync-agents.ts
Due: none

refactor: consolidate to single agent definition (astra.yaml)
  agents/definitions/astra.yaml
  agents/definitions/background-worker.yaml
  app/scripts/sync-agents.ts
Due: none

feat: add automated setup script
  setup.sh
Due: none
